@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Digital";
  src: url("/fonts/digital-7.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DSEG7";
  src: url("/fonts/DSEG7Classic-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.font-digital {
  font-family: "Digital", monospace;
}

.font-lcd {
  font-family: "DSEG7", monospace;
  letter-spacing: 1px;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}
